h1 {
    font-size: 72px;
    background-color: blue;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}
h2 {
    background-color: blueviolet;
    font-display: auto;
    
}
.button {
     box-shadow: 4px 4px 0px #000000; 
     cursor: pointer;
     border-width: 4px;
     border-color: green
    display: flex;
    flex-direction: ;
    justify-content: top;
    align-items: top;



}